<!-- The content below is only a placeholder and can be replaced. -->
<qs-product-overview></qs-product-overview>
<!-- <router-outlet></router-outlet> -->
<a
  class="btn"
  href="javascript:(function() {
  var backup = {};
  for (i = 0; i < localStorage.length; i++) {
    var key = localStorage.key(i);
    var value = localStorage.getItem(key);
    backup[key] = escape(encodeURIComponent(value));
  }
  var json = JSON.stringify(backup);
  var base = btoa(json);
  var href = 'data:text/javascript;charset=utf-8;base64,' + base;
  var link = document.createElement('a');
    link.setAttribute('download', 'backup.json');
  link.setAttribute('href', href);
  document.querySelector('body').appendChild(link);
  link.click();
  link.remove();
})()"
  data-function="localStorageBackup"
  >Backup local storage</a
>
